extends layout

block content

    .navbar.navbar-default(role='navigation', bs-navbar='')
        .navbar-header
            a.navbar-brand(ui-sref='home') Brand

        ul.nav.navbar-nav
            li(ui-sref-active="active")
                a(ui-sref='home') Home
            li(ui-sref-active="active")
                a(ui-sref='demos') Demos
            li(ui-sref-active="active")
                a(ui-sref='about') About
            li(ui-sref-active="active")
                    a(ui-sref='contact') Contact


    .navbar-brand(ui-view)
