#navigation
  ul
    li
      a(href='#') This
    |         
    li
      a.selected(href='#') Could
    |         
    li
      a(href='#') Be
    |         
    li
      a(href='#') A
    |         
    li
      a(href='#') Menu
